$white: #ffffff;

$gray-1: #ded8d0;
$gray-2: #f8f6f3;
$dark-gray: #080807;
$medium-gray: #524e49;
$dark-red: #cc092f;
$light-red: #ffd8d8;
$blue: #0856d4;

$white-bg-disabled: rgba(255, 255, 255, 0.25);
$dark-charcoal: #323232;
$blue: #0856d4;

$positive: #23c064;
$warning: #f7941e;
$error: $dark-red;
$unknown: gray;
$positive-encrypted: #3498db;

$mobile-button-border: #e6e6e6;
$mobile-button-highlighted: #007fff;
$mobile-button-disabled-highlighted: #808080;
