.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: blanchedalmond;
  height: 100%;

  & .welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: cadetblue;
    height: 100%;
  }
}